<!DOCTYPE html>
<html lang="ru" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>Group1</title>
  <link href="../static/style_main_admin.css" rel="stylesheet">
  <link href="../static/style_modal_admin.css" rel="stylesheet">
  <link href="../static/style_button.css" rel="stylesheet">

  </head>
  <body bgcolor="#ffffff">
	<table width="1500px" border="1" class="marks">
		<thead bgcolor="#bdc3e8">
		<tr>
			<td class="names" rowspan="2" width="50px"></td>
			<td class="names" rowspan="2" width="200px">Ученик</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
		</tr>
		<tr>
			<td><a href="#modall">Тема</a></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
		</tr>
		</thead>
		<tbody bgcolor="#ffffff">
		<tr>
		<td class="names" rowspan="2" width="50px"><button class="but_mini">x</button></td>
			<td class="names" rowspan="2" width="200px">Катя Старшова</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
		</tr>
		<tr class="DZ">
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
		</tr>
		<tr>
		<td class="names" rowspan="2" width="50px"><button class="but_mini">x</button></td>
			<td class="names" rowspan="2" width="200px">Данис Редис</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
		</tr>
		<tr class="DZ">
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
		</tr>
		<tr>
		<td class="names" rowspan="2" width="50px"><button class="but_mini">x</button></td>
			<td class="names" rowspan="2" width="200px">Веслава БлондиСтайл</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
		</tr>
		<tr class="DZ">
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
		</tr>
		<tr>
		<td class="names" rowspan="2" width="50px"><button class="but_mini">x</button></td>
			<td class="names" rowspan="2" width="200px">Толя Молодец-Холодец</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
		</tr>
		<tr class="DZ">
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
		</tr>
		<tr>
		<td class="names" rowspan="2" width="50px"><button class="but_mini">x</button></td>
			<td class="names" rowspan="2" width="200px">Чуварш Абаськович</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
		</tr>
		<tr class="DZ">
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
		</tr>
		<tr>
		<td class="names" rowspan="2" width="50px"><button class="but_mini">x</button></td>
			<td class="names" rowspan="2" width="200px">Петя Васечкин</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
		</tr>
		<tr class="DZ">
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
		</tr>
		<tr>
		<td class="names" width="50px"></td>
		<td class="names" width="200px">
			<p><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" class="new_group">
			<button class="but_mini"><i class="fontello">+</i></button></p>
			<div ng-app="app" ng-controller="mainCtrl">
			<dropdown-list data-items-list="itemsList" data-placeholder="Item name"></dropdown-list>
			</div>
		</td>
		</tr>
		<tr>
		<td class="for_buttons" width="50px"></td>
		<td class="for_buttons" width="200px">
			<button type="submit" class="but">Сохранить</button>
		</td>
		</tr>
		
		</tbody>
	</table>
		

	<!--		<div class="wrapper">
				<input type="checkbox" id="button">
				<div class="modal">
					<label for="button" class="close"></label>
				</div>
			</div>
			-->
			
			
			<div id="modall" class="modal">
          	<div class="modal-wrapper">
              <div class="CSS-modal-inner">
                 <div class="modal-header">
                  	<h3 class="modal-title" contenteditable="true">Тема</h3>
                  	<a href="#close" title="Закрыть" class="close">×</a>
                 </div>
                 <div class="modal-text">    
                   <p contenteditable="true">Домашнее задание</p>
				   <button type="submit">Сохранить</button>
                 </div>
  			  </div>
  			</div>	
			</div>
			
			<script>
angular.module('app', [])

.controller('mainCtrl', function($scope){
  /*
   * Создаем список элементов
   */
  $scope.itemsList = [
    {'name': 'Iapetos Baltazar', 'amount': 1},
    {'name': 'Mordred Maui', 'amount': 4},
    {'name': 'Verethragna Tane', 'amount': 20},
    {'name': 'Arawn Lir', 'amount': 7},
    {'name': 'Cepheus Zephyrus', 'amount': 15},
    {'name': 'Leander Pallas', 'amount': 9},
    {'name': 'Chryses Vohu Manah', 'amount': 13},
    {'name': 'Nuadha Lycus', 'amount': 19}
  ];
})

/*
 * Объявляем директиву, которая будет создавать сам список
 */
.directive('dropdownList',function( $timeout ){
  return {
    restrict: 'E',
    scope: {
      itemsList: '=',
      placeholder: '@'
    },
    template: '<input type="text" ng-model="search" placeholder="{{ placeholder }}" />' +
				'<div class="search-item-list"><ul class="list">' +
				'<li ng-repeat="item in itemsList | filter:search" ng-click="chooseItem( item )">{{ item.name }}' +
          '<span class="amount">{{ item.amount }}</span>' +
    		 '</li>' +
				'</ul></div>',
    link: function(scope, el, attr){
        var $listContainer = angular.element( el[0].querySelectorAll('.search-item-list')[0] );
        el.find('input').bind('focus',function(){
          $listContainer.addClass('show');
        });
        el.find('input').bind('blur',function(){
          /*
             * 'blur' реагирует быстрее чем ng-click,
             * поэтому без $timeout chooseItem не успеет поймать item до того, как лист исчезнет
             */
          $timeout(function(){ $listContainer.removeClass('show') }, 200);
        });
      
      	scope.chooseItem = function( item ){
				 scope.search = item.name;
           $listContainer.removeClass('show');
			 }
    }
  }
});
</script>
  </body>
  </html>
