<!DOCTYPE html>
<html lang="ru" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Admin</title>
		<link href="../static/style_main_admin.css" rel="stylesheet">
		<link href="../static/style_modal_admin.css" rel="stylesheet">
		<link href="../static/style_button.css" rel="stylesheet">
		<link href="../static/style_tabs_admin.css" rel="stylesheet">
		<link href="../static/general_font.css" rel="stylesheet">
	</head>
	<body>
		<table>
			<thead>
				<table width="100%" bgcolor = "#303F9F">
				  <tr>
					<td width="90%">
					<img src="..\images\CKO_white.png" width="130px" hspace="50px">
					</td>
					<td width="10%"> 
						<form class="head" action="profile.html" target="main" method="post">
						  <input type="submit" value="Профиль">
						</form>
						<form class="head" action="../templates/login.html" target="_top" method="post">
						  <input type="submit" value="Выйти">
						</form>
					</td>
				  </tr>
				</table>
			</thead>
			<tbody>
			<td width = "20%" class = "groups">
				<h3>Группы: </h3>
				<ul class="menu">
					<li><a href="group1.html" target="main">C++</a></li>
					<li><a href="group1.html" target="main">Scratch</a></li>
					<li><a href="group1.html" target="main">Stencyl</a></li>
				</ul>
			</td>
			<td width = "80%">
			
			</td>
			</tbody>
		</table>
	</body>
</html>
